@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'JetBrains Mono', monospace;
}

#plasmo-shadow-container {
  all: initial;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}
